# entornos virtuales
env/
env311/
.venv/

# caches y compilados
__pycache__/
*.pyc
*.pyo

# modelos y datasets
datasets/
python/models/
*.pth
*.pt

# archivos grandes o temporales
*.dylib
*.so
*.zip
*.tar
*.gz
*.DS_Store

# archivos locales
*.log

node_modules

# PERMITIR site
!site/

poster_dataset/

node_modules/

maquina-de-contrapropaganda/saved_models_temp/
maquina-de-contrapropaganda/flipbook_clean/
__pycache__/
.DS_Store


