/* Resetear el navegador */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    background-color: #ffffff; 
}

/* El Contenedor de la Galer칤a */
#gallery-container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 100%;
    
    overflow-x: auto; 
    overflow-y: hidden;
    
    padding: 20px; 
    gap: 30px; 
    box-sizing: border-box;
    
    align-items: center; 
}

/* El Contenedor de CADA afiche */
.poster-wrapper {
    flex-shrink: 0; 
    
    /* 1. El wrapper (DIV) mide 80% de la altura de la ventana */
    height: 80vh; 
    
    /* El ancho se ajustar치 autom치ticamente */
    width: auto; 

    /* border: 1px solid #444; */
    /* background-color: #000; */
    
    display: flex; 
}

/* 游뚿 CAMBIO CLAVE: Forzar el tama침o del CANVAS */
.poster-wrapper canvas {
    /* 2. El canvas (CANVAS) debe llenar el 100% del wrapper */
    height: 100% !important; 
    
    /* 3. El ancho se ajusta para mantener la proporci칩n */
    width: auto !important;  
    
    object-fit: contain;
}